@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100&family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

:root {
    --primaryColor: #185364;
    --primaryColorLight: #3AB2D0;
    --neutralColor: #A5EBFB;
    --secondaryColor: #5F75A9;
    --secondaryColorLight: #AAC2EB;
    --textColorWhite: #FDF9EC;
    --textColorBlack: #242629;
    --fontStyle: 'Chivo', sans-serif;
    --fontWeight: ''



}

header {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 40px;
    /* padding: 0 0px; */
    background-color: var(--textColorBlack);
    color: var(--textColor);
}

header .Logo1 {
    display: flex;
}

nav a {
    margin: 0 .5rem;
    color: var(--textColorWhite);
    font-size: medium;
    text-decoration: none;
}

nav a:hover {
    color: var(--primaryColorLight);
    font-size: x-large;
    font-weight: bold;
    transition: .5s;

}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

body {
    margin: 0px;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fontStyle);
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--textColorBlack);
    color: var(--textColorWhite)
}

/* Allows the user to click the anchor links and see a smooth transition */
html {
    scroll-behavior: smooth;
}

.InfoSection {
    height: 100vh;
}

.IntroSection {
    padding-top: 10%;
}

.IntroSection h2 {
    color: var(--secondaryColorLight)
}

.Contact {
    color: var(--primaryColorLight)
}

.Name {
    color: var(--primaryColorLight);
    font-family: var(--fontStyle);
    font-size: 80px;
    padding-left: 15px;
}

.Projects {
    color: var(--primaryColorLight);
    font-family: var(--fontStyle);
    font-size: 70px;
    padding-left: 15px;
}

.Gallery h2 {
    color: var(--secondaryColorLight);
}

.Courses {
    color: var(--primaryColorLight);
    font-family: var(--fontStyle);
    font-size: 70px;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    margin: auto;
    display: flex;
    align-items: baseline;
    align-self: center;
    justify-content: center;
    font-family: var(--fontStyle);
    font-size: 60px;
    color: var(--textColorWhite);
    margin-top: 0%;
    padding: 20px;
}

h2 {
    margin: auto;
    display: flex;
    padding: 10px;
    font-family: var(--fontStyle);
    font-weight: 900;
    justify-content: center;
    color: var(--textColorWhite)
}

h3 {
    margin: auto;
    display: flex;
    font-family: var(--fontStyle);
    padding: 5px;
    font-weight: 900;
    justify-content: center;
    color: var(--textColorWhite)
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

p {
    display: flex;
    justify-content: left;
    padding: none;
    margin-top: 1%;
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}


header .Logo1 {
    display: flex;
    justify-self: center;
    align-self: auto;
    height: 30px;
    width: 30px;
}

.Gallery {
    display: flex;
    align-items: flex-end;
}

.Col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Col3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Description for the class work section */
.Class-bio-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.timeline h2 {
    color: var(--secondaryColorLight)
}

.class-name h3 {
    color: var(--secondaryColor);
}

.class-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.E-Img {
    width: 20rem;
    height: 20rem;
}
.Text-Input{
    display: flex;
    margin-left: 5%;
    margin-right: 20%;
    flex-direction: row;
}
.Text-Field{
    color: var(--textColorWhite);
}